body {
    font-family: sans-serif;
}

h1 {
    color: green;
    font-weight: bold;
    background-color: yellow;
    text-align: center;
    font-size: 50px;
}

ul {
    background-color: red;
    font-size: 20px;
    text-align: center;
}
